.variables {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  color: rgb(5 46 22);
}

.variables__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.variables__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variables__inputContainer {
  display: flex;
  gap: 10px;
}

.variables__item {
  display: flex;
  gap: 5px;
}

.variables__close {
  color: #d4d4d4;
  cursor: pointer;
  transition: color 0.2s;
  margin-right: 0.5rem;
}
.variables__close:hover {
  color: rgb(5 46 22);
}
