@use '@/styles/variables.scss' as *;

.variables {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  color: rgb(5 46 22);
}

.variables__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.variables__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.variables__inputContainer {
  display: flex;
  gap: 10px;
}

.variables__item {
  display: flex;
  gap: 5px;
}

.variables__close {
  color: #d4d4d4;
  cursor: pointer;
  @include transition-smooth;
}
.variables__close:hover {
  color: rgb(5 46 22);
}

.variables__table {
  width: 100%;
  border-collapse: collapse;
}

.variables__headerCell,
.variables__bodyCell {
  border: 1px solid #ccc;
  padding: 8px;
}

.variables__table .variables__headerCell:nth-child(1),
.variables__table .variables__bodyCell:nth-child(1) {
  width: 30px;
}

.variables__table .variables__headerCell:nth-child(2),
.variables__table .variables__bodyCell:nth-child(2) {
  width: 150px;
}

.variables__table .variables__headerCell:nth-child(3),
.variables__table .variables__bodyCell:nth-child(3) {
  width: calc(100% - 150px - auto);
}

.variables__headerCell,
.variables__bodyCell {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.variables__headerCell {
  text-align: center;
}

@media (max-width: $mobile-breakpoint) {
  .variables__inputContainer {
    flex-direction: column;
  }
}
